<section id="about-me" class="section-container">
    <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">About Me</h2>
    <p class="text-slate max-w-xl text-lg mb-4" data-aos="fade-up" data-aos-delay="200">
        Hi there! I'm Feroz Mohammad — a business banking professional and co-founder of Dario Lario. I’m passionate about helping businesses grow, understanding what drives their success, and building meaningful relationships. With experience across finance, entrepreneurship, and project delivery, I bring a blend of commercial insight, client-focus, and strategic thinking to everything I do.
    </p>
    <p class="text-slate max-w-xl text-lg" data-aos="fade-up" data-aos-delay="200">
        Looking forward to sharpening my skills in a challenging environment. I guarantee enthusiasm in work and
        fulfilling
        my projects with inexpressible effort.
    </p>
</section>
